{% extends 'myHome/layout.html' %}
{% load search_content %}
{% load static %}
{% block content %}
	{% apache %}
	<!-- 검색된 검색어를 검색창에 유지한다. -->
	<script type="text/javascript"> 
		URL = decodeURIComponent('{{request.get_full_path}}');
		URL = URL.split("searchInput=")[1]
		URL=URL.replace(/\+/g," ");
		URL=URL.replace(/\&/,"").replace("amp;","");
		searchInput = URL.split("year=")[0]
		document.getElementById("searchInput").value = searchInput;
	</script>
	<!--메인 화면(홈)의 body 부분이다. 홈화면 또는 검색된 내역을 보여준다. -->
	<div id="main" role="main">
		<ul id="tiles">
			<!-- 검색된 내역 존재 유무 체크 -->
			{% if request.get_full_path|search_input_check%}
				<!-- 검색된 내역으로 DB를 검색하여 리턴된 쿼리셋을 context에 저장 -->
				{% queryset_search request.get_full_path broadcasts as context%}
				<!-- 일치하는 검색어가 DB에 존재하지 않을 경우-->
				{% if not context%}
						<h1 class="ml11">
						  <span class="text-wrapper">
							<span class="line line1"></span>
							<span id="letters" class="letters"></span>
						  </span>
						</h1>
						<script type="text/javascript"> 
							document.getElementById("letters").innerHTML="'"+searchInput+"'에 대한 검색결과가 존재하지 않습니다."
						</script>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
						<script src="{%static 'js/homeText.js' %}"></script>
				<!--일치하는 검색어가 DB에 존재할 경우-->
				{% else %}
					<!--일치하는 기사 갯수만큼 리스트를 만들어 화면에 출력해준다-->
					{% for broadcast in context.broadcasts %}
						<li>
							<form id="contents{{broadcast.id}}" name="contents{{broadcast.id}}" action="contents.html" method="get">
								<div class="post-info" onclick="moveContent('contents{{broadcast.id}}')">
									<div class="post-basic-info">
										<h3><a href="#" id = "title{{broadcast.id}}">{{broadcast.title}}</a></h3>
										<p id="content{{broadcast.id}}">{{broadcast.content|truncatewords:15}}</p><!--15단어만 출력-->
										<p>{{broadcast.uploadDate}} </p>
									</div>
								</div>
								<input id="title" type="hidden" name="content_title" value="{{broadcast.title}}"></input>
								<input id="content" type="hidden" name="contents" value="{{broadcast.content}}"></input>
								<input id="keywords" type="hidden" name="keywords" value="{{context.keywords}}"></input>
							</form>
						</li>
						<script type="text/javascript">
							{% for keyword in context.keywords %}
							   	   var a = document.getElementById("title{{broadcast.id}}").innerHTML;
							   	   var b = document.getElementById("content{{broadcast.id}}").innerHTML;
								   a = a.replace(/{{keyword}}/g,"<mark>{{keyword}}</mark>")
								   b = b.replace(/{{keyword}}/g,"<mark>{{keyword}}</mark>")
								   document.getElementById("title{{broadcast.id}}").innerHTML = a;
								   document.getElementById("content{{broadcast.id}}").innerHTML = b;
						   {% endfor %}
						</script>
					{% endfor %}
					<script> document.getElementById("count").innerHTML = '{{ context.queryset_length }}'+"개의 검색 결과가 있습니다." </script>
				{% endif %}
			<!--메인 화면-->
			{% else %}
				<div id="center">
					<h1 class="ml7">
					  <span class="text-wrapper">
						<span class="letters">2018 NAVER CAMPUS HACKDAY</span><br/>
					  </span>
					  <span class="text-wrapper">
						<span class="letters">CRAWLER SEARCH</span><br/>
					 </span>
					</h1>
				</div>	
				<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
				<script src="{%static 'js/homeText.js' %}"></script>
			{% endif %}
		</ul>
	</div>
	<!--기사 클릭 시 contents.html으로 기사제목과 내용을 폼으로 전송한다.-->
	<script type="text/javascript">
		function moveContent(frm){
			document.getElementById(frm).submit();
		}
	</script>
{% endblock %}
